# Export editor globally
export EDITOR=vim

# Configure locale
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LANGUAGE=en_US:en

# Better history
setopt INC_APPEND_HISTORY
setopt EXTENDED_HISTORY
alias history='history -i'

# Personal Binaries and scripts
export PATH="$HOME/.bin:$PATH"

# Golang settings
export GOPATH="$HOME/Documents/Repositories/go"
export PATH="$GOPATH/bin:$PATH"

# Rust settings
export PATH="$HOME/.cargo/bin:$PATH"

# Rbenv settings
export PATH="$HOME/.rbenv/bin:$PATH"
eval "$(rbenv init - zsh)"

# Pyenv settings
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"

# Brew settings
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"

# SSH alias
alias ssho='ssh -o KexAlgorithms=diffie-hellman-group1-sha1 -o Ciphers=aes256-cbc'
alias sshn='ssh -o PreferredAuthentications=password -o PubkeyAuthentication=no'
alias ssht='ssh -o "UserKnownHostsFile=/dev/null" -o StrictHostKeyChecking=no'

# Lifehack alias
alias lll="ls -lrth"
alias digg="dig +short +noshort"
alias gdiff='git diff -U0 --word-diff --no-index --'
alias open='xdg-open'

# Usefull to generate secrets
alias getpass="openssl rand -base64 25"
function random-string() { cat /dev/urandom | base64 | tr -dc 'a-zA-Z0-9' | fold -w ${1:-32} | head -n 1 }

# Better mtr
alias mtr='sudo mtr -t -i 0.5 -b -z -e'

# Create jsonencode & jsondecode function
alias jsonencode='jq -R . <<<'
alias jsondecode='jq -r . <<<'

# Python3 is the new python
alias python='python3'

# Create urlencode & decode function
alias urldecode='python -c "import sys; from urllib import parse; \
    print(parse.unquote_plus(sys.argv[1]))"'

alias urlencode='python -c "import sys; from urllib import parse; \
    print(parse.quote_plus(sys.argv[1]))"'

# To create temporary container
alias drun='docker run --rm -i -t'

# To list AWS instances
alias ec2desc="aws ec2 describe-instances --filter Name=tag-key,Values=Name --query 'Reservations[*].Instances[*].{Name:Tags[?Key==\`Name\`]|[0].Value,Instance:InstanceId,AZ:Placement.AvailabilityZone,PrivateIpAddress:PrivateIpAddress,PublicIpAddress:PublicIpAddress}' --region eu-west-1 --output table"

# Import private settings
source $(dirname ${(%):-%x})/personal-extras.zsh

# Go to Downloads folder instead of home if new shell
if [[ $SHLVL -eq 1 ]]; then
  cd ~/Téléchargements/
fi

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# Configure gam
export GIT_DISCOVERY_ACROSS_FILESYSTEM=1
function gam() { "/home/clement/.bin/gam/gam" "$@" ; }

# Necessary for tilix terminal
if [ $TILIX_ID ] || [ $VTE_VERSION ]; then
        source /etc/profile.d/vte.sh
fi
