# Export editor globally
export EDITOR=vim

# Configure locale
export LANG=fr_FR.UTF-8
export LC_ALL=fr_FR.UTF-8

# Do not share history between terminals
unsetopt share_history

# Completely disable history for security
export HISTFILE=/dev/null

# Google Cloud command line tool settings
source "$HOME/.gcloud/google-cloud-sdk/path.zsh.inc"
source "$HOME/.gcloud/google-cloud-sdk/completion.zsh.inc"

# Personal Binaries
export PATH="$HOME/.bin:$PATH"

# Brew settings
export PATH="/usr/local/sbin:/usr/local/bin:$PATH"
export HOMEBREW_GITHUB_API_TOKEN='TODO'
export HOMEBREW_NO_ANALYTICS=1

# Rust settings
export PATH="$HOME/.cargo/bin:$PATH"

# Java settings
export JAVA_HOME=$(/usr/libexec/java_home)

# Rbenv settings
export PATH="$HOME/.rbenv/bin:$PATH"
eval "$(rbenv init - zsh)"

# Vagrant path
export PATH="/opt/vagrant/bin:$PATH"

# Functionnal time command
disable -r time
alias time='time -p '

# Kubernete path
export PATH="$HOME/Documents/kubernetes/platforms/darwin/amd64:$PATH"

# Yarn path
export PATH="$HOME/.yarn/bin:$PATH"

# Virtualenv path
export WORKON_HOME="$HOME/.virtualenvs"
source /usr/local/bin/virtualenvwrapper.sh

# Syntax highlighting for console input (very slow)
# source /Users/clement/.zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# SSH alias for cisco
alias ssho="ssh -o KexAlgorithms=diffie-hellman-group1-sha1 -o Ciphers=aes256-cbc"

# Lifehack alias
alias history="fc -il"
alias digg="dig +short +noshort"
alias listport='lsof -i -P | grep -i "listen"'
alias sshec2="ssh -l ubuntu "
alias moshec2="mosh --ssh='ssh -l ubuntu'"
alias encrypt='knife file encrypt -F json --secret-file SOMEWHERE'
alias decrypt='knife file decrypt -F json --secret-file SOMEWHERE'

# Git alias
export open="open" # program to open http
alias gurl="git remote get-url origin | sed 's/git@\(.*\):\(.*\).git/https:\/\/\1\/\2/'"
alias grepo="git remote get-url origin | sed 's/git@\(.*\):\(.*\).git/\2/'"
alias gmr='${open} "`gurl`/merge_requests/new?merge_request%5Bsource_branch%5D=`git rev-parse --abbrev-ref HEAD`&merge_request%5Btarget_branch%5D=master"'
alias gcmp='${open} "`gurl`/compare/master...`git rev-parse --abbrev-ref HEAD`"'
alias lg='git lg'
alias gbda='git branch --no-color --merged | command grep -vE "^(\*|\s*(master|develop|dev|prod)\s*$)" | command xargs -n 1 git branch -d'
alias gclean='gfa && gbda'
alias glg="git glg"
alias gntw='${open} "`gurl`/network/`git rev-parse --abbrev-ref HEAD`"'
alias gnis='${open} "`gurl`/issues/new"'
alias gboard='${open} "`gurl`/boards"'

# Capstone import
export DYLD_LIBRARY_PATH=/usr/local/opt/capstone/lib/:$DYLD_LIBRARY_PATH

# Create urlencode & decode function
alias urldecode='python -c "import sys, urllib as ul; \
    print ul.unquote_plus(sys.argv[1])"'

alias urlencode='python -c "import sys, urllib as ul; \
    print ul.quote_plus(sys.argv[1])"'

# For Check DK
export PATH=/opt/chefdk/bin:$PATH
alias workchef='eval "$(chef shell-init bash)"'

# To create temporary container
alias drun='docker run --rm -i -t'

# Go related settings
export GO15VENDOREXPERIMENT=1
export GOROOT=`go env GOROOT`
export GOPATH="$HOME/Documents/go"
export PATH=$PATH:$GOPATH/bin:$GOROOT/bin
alias gowork='/Documents/go/src'

# To move in go repos quickly
gocd () { cd `go list -f '{{.Dir}}' $1` }

# Fix bug between youcompleteme and brew
export DYLD_FORCE_FLAT_NAMESPACE=1

# Colorize man page
man() {
    env \
        LESS_TERMCAP_mb=$(printf "\e[1;31m") \
        LESS_TERMCAP_md=$(printf "\e[1;31m") \
        LESS_TERMCAP_me=$(printf "\e[0m") \
        LESS_TERMCAP_se=$(printf "\e[0m") \
        LESS_TERMCAP_so=$(printf "\e[1;44;33m") \
        LESS_TERMCAP_ue=$(printf "\e[0m") \
        LESS_TERMCAP_us=$(printf "\e[1;32m") \
        man "$@"
}

# Import private settings
source $(dirname ${(%):-%x})/personal-extras.zsh
